body {background-color: white; }
figure {
    display: block;
    text-align: center;
}
figure a:visited {color: blue;}
h1 {   
    background-color: lightgrey; 
    border-style: ridge;
    font-weight: bold;       
    margin-bottom: 0px;
    padding-bottom: 20px;
    text-align: center;
}
nav {    
    background-color: cyan;
    border-style: ridge;
    float: left;
    font-weight: bold;    
    margin-top: 0px;
    margin-right: 20px;
    padding: 20px;
    padding-bottom: 90%;
}
nav a {	
    text-decoration: none;
    color: black; }
nav a:hover {color: blue; }
nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em; 
}
#roundResult {
    white-space: pre;
}
#winner {
    white-space: pre;
}
#images img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
#info {
    text-align: center;
    font-style: italic;
}

#college {
    font-weight: bold;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
}
h2 {
    text-align: center;
    font-size: 1.5em;
}
h3{
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.right {
    float: right;
}
.ul2 {
    margin-left: 170px;
}